@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.home {
  margin: 0;
}

.home-navBar {
  justify-content: space-between;
  padding: 16px;
  height: auto;
}
.nav-search-icon{
  width: 30px;
  display: none;
}
@media screen and (min-width: 768px) {
  .home-navBar {
    padding: 25px 16px 16px;
    height: auto;
  }
  .nav-search-icon{
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .home-navBar {
    padding: 25px 40px 16px;
  }
 
}
@media screen and (max-width: 768px) {

  .home-navBar .dropdown{
    display: none;
  }
}

.nav-item {
  list-style: none;
}

.actions {
  gap: 10px;
}
/* nazmul hasan */
.navbar-wrapper {
  gap: 30px;
}
.navbar-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  color: #0058a9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.navbar-item > img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}
.logo img:last-child {
  display: none;
}
.nav-search-icon{
  cursor: pointer;
}

.login-button {
  padding: 8px 24px;
  background: #0058a9;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #212121;
  cursor: pointer;
}

.sect-1 {
  margin: 65px 0;
  padding: 15px;
  justify-content: space-around;
}

.details {
  height: 250px;
  width: 500px;
}

.large-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}

.small-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.graphic {
  width: 374px;
  height: 255.68px;
}

.sect-2 {
  background: #f0f1f5;
  padding: 3% 8% 5% 8%;
  /* margin: -12px; */
}

.imgBox {
  background: white;
  border-radius: 8px;
  width: 160px;
  height: 151px;
  margin: auto;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  padding: 1rem;
  overflow: hidden;
  object-fit: contain;
}

.imgBox img {
  object-fit: contain;
  height: 100%;
}

.eventBox {
  border: 2px #0e559c solid;
}

.fundBox {
  border: 2px #63ab45 solid;
}

.jobBox {
  border: 2px #fdb614 solid;
  overflow: hidden;
}

.heading {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height, or 120% */

  text-align: center;

  color: #000000;
  width: 50%;
  margin: auto;
}

.sub-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #000000;
  width: 65%;
  margin: auto;
  margin-top: 20px;
}

.divisions {
  margin-top: 5px;
  justify-content: space-evenly;
}

.divisions-row {
  justify-content: space-evenly;
}

.division {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: space-evenly;
  height: auto;
  margin-bottom: 25px;
}

.services-link {
  text-decoration: none;
  display: contents;
}

.icon {
  width: 100%;
  margin: auto;
}

.division-name {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  /* font-weight: 400; */
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #0058a9;
  width: 50%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
}

.division-subtext {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  color: #212121;
  width: 75%;
  margin: auto;
}

.sect-3 {
  padding: 3% 10% 5% 10%;
  margin-top: 135px;
}

.card-holder {
  justify-content: flex-start;
}

.horizontal-scroll {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.upcoming-heading {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height, or 120% */

  color: #000000;
}

.more {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #0e559c;
}

.event-banner {
  height: 150px;
  width: 265px;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin-right: 30px;
}

.event-details {
  padding: 10px;
  margin-bottom: 40px;
  width: 225px;
}

.event-date {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  letter-spacing: 0.35px;
  text-transform: uppercase;

  color: #877457;
}

.event-name {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #212121;
}

.event-subText {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #757575;
}

.numb_attendee {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #757575;
}

.popular {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height, or 120% */

  color: #000000;
}

.group-card {
  box-sizing: border-box;
  width: 360px;
  height: 179px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-right: 30px;
}

.name-icon {
  width: 100%;
  height: 65%;
}

.g-icon-container {
  width: 20%;
  margin: auto 10px;
}

.g-icon {
  height: 35px;
  width: 35px;
}

.new-name {
  text-align: start;
  margin: auto 0;
}

.new {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #008294;
}

.g-name {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: #000000;
  width: 90%;
}

hr {
  width: 90%;
  color: #d9d9d9;
  margin: 0 auto;
}

.groups {
  margin-top: 80px;
}

.group-cards {
  justify-content: flex-start;
}

.group-details {
  margin-left: 5%;
  margin-top: 10px;
  text-align: start;
}

.group-date {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */

  letter-spacing: 0.35px;
  text-transform: uppercase;

  color: #877457;
}

.group-subtext {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #212121;
}

.sect-4 {
  display: flex;
  justify-content: space-evenly;
  margin: 150px 0 110px 0;
}

.download-info {
  justify-content: space-evenly;
  padding: 25px 0;
}

.globe-logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.text {
  display: flex;
  margin: auto;
  text-align: center;
}

.playStore {
  cursor: pointer;
  background-image: url("./img/googlePlay.png");
  height: 48px;
  width: 150px;
  background-color: white;
  border: none;
}

.appStore {
  cursor: pointer;
  background-image: url("./img/appStore.png");
  height: 48px;
  width: 150px;
  background-color: white;
  border: none;
}

.sect-5 {
  padding: 3% 10% 5% 10%;
}

.community-cards {
  align-items: start;
  text-align: start;
  margin-top: 50px;
  justify-content: start;
}

.community-card {
  justify-content: start;
  text-align: start;
  width: 33%;
  padding: 1rem;
}

.function-img {
  width: 100%;
}

.function-heading {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: #000000;
  margin: 10px 0;
}

.function-description {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #757575;
}

.home-row {
  display: flex;
  flex-direction: row;
}

.home-column {
  display: flex;
  flex-direction: column;
}

.link-tags {
  text-decoration: none;
}

.division-name-inside {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sect-2 {
    padding: 10px 6px;
    margin: 0px;
  }

  .home-row {
    gap: 10px;
  }

  .division {
    width: auto;
    height: 115px;
    flex: 1;
  }

  .division-name {
    display: none;
  }

  .division-name-inside {
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #0058a9;
    margin: auto;
    word-break: keep-all;
    max-height: 55px;
  }

  .division-subtext {
    display: none;
  }

  .imgBox {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .imgBox img {
    max-width: 45px;
    flex: 1;
  }
}

/* nazmul hasan */
.postReq-slider {
  font-family: "Noto Sans";
  background: #d3d9f8;
  border-radius: 0px 0px 15.0698px 15.0698px;
}

.postReq-slider img {
  object-fit: cover;
  width: 100%;
}

.postReq-slider h4 {
  font-weight: 600;
  font-size: 18.8372px;
  line-height: 126.9%;
  padding: 13px;
}

.postReq-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.011em;
}

.postReq-content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.011em;
}

.service-provide {
  padding: 52px 10px;
  background-color: #4a4a4a;
  font-family: "Noto Sans";
}

.service-provide h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: white;
  text-align: center;
  margin: 0;
}

.service-provide p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;
  letter-spacing: -0.011em;
  text-transform: capitalize;
  color: white;
  padding: 0;
  margin: 0;
}

.service-items {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service-wrapper {
  /* min-height: 206px; */
  display: flex;
  align-items: stretch;
}
.single-service {
  box-shadow: 0px 2.04315px 4.08629px rgba(0, 0, 0, 0.25);
  border-radius: 8.17259px;
  padding: 10px;
  margin: 4px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  flex: 1;
}

.single-service img {
  max-width: 120px;
  object-fit: contain;
  margin: 0 auto;
}
.single-service span {
  font-weight: 500;
  font-size: 13.2876px;
  line-height: 18px;
  /* identical to box height */
  padding-bottom: 5px;
  color: #000000;
}

.slick-dots li button:before {
  font-size: 10px !important;
}
.news-modal .modal-dialog {
  max-width: 800px;
}
.news-modal .modal-content {
  border-radius: 20px;
  overflow: auto;
  max-height: 600px;
}

.modal-community-card {
  width: auto;
  overflow-y: auto;
}
.modal-community-card .function-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.modal-community-card img {
  max-width: 500px;
  margin: 0 auto;
}

.community-slider .function-img-container {
  height: 230px;
  display: flex;
  overflow: hidden;
}
.community-slider .function-img-container img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-category-title{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #0E559C;
  text-align: center;
}
.home-category-subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8f8f8f;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .sect-2{
    margin-bottom: 3rem;
    padding-top: 10px;
  }
  .imgBox{
    margin-bottom: 10px;
  }
  .home-category-title{
    font-size: 40px;
    margin-bottom: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
.home-category-subtitle{
  margin-bottom: 4rem;
  font-size: 20px;
}
  .service-provide {
    display: none;
  }

  .postReq-wrapper {
    display: none;
  }

  .banner-slider {
    display: block;
    padding: 1rem 3rem 4rem;
  }
  .banner-slider img {
    max-height: 400px;
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .sect-1,
  .sect-3,
  .sect-4,
  .sect-5 {
    display: none;
  }

  .sect-2 {
    margin-top: 4rem;
  }

  .home-column {
    margin-top: 1.5rem;
  }

  .home {
    padding-bottom: 5rem;
    overflow-x: hidden;
  }

  .home-navBar .logo {
    max-width: 100px;
  }

  .home-navBar .logo img {
    width: 100%;
  }
  .imgBox img {
    height: auto;
  }
}


@media screen and (max-width: 1200px) {
  .logo img:first-child {
    display: none;
  }
  .logo img:last-child {
    display: block;
  }

  .nav-item {
    align-self: stretch;
  }

  .navbar-item span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .login-button {
    display: none;
  }
}
